@import url("./normalize.css");
@import url("./bootstrap.css");
@import url("./footer-v2.css");
@import url("./header-v2.css");
@import url("./menu-v2.css");

// === MIXIN ===
@mixin list-null {
  padding: 0;
  margin: 0;
  list-style: none;
}
// === / MIXIN ===

// === FUNCTIONS ===
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($num) {
  @return (strip-unit($num) / 16) * 1rem;
}
// === / FUNCTIONS ===

// === VARIABLES ===
$base: 4px;
// === / VARIABLES ===

// === COMMON ===

// === / COMMON ===
